.runs-wrapper {
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 78px -19px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 78px -19px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 78px -19px rgba(0, 0, 0, 0.2);
}
