.introduction-wrapper {
  width: 60vw;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  overflow: auto;
  -webkit-box-shadow: 10px 10px 78px -19px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 78px -19px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 78px -19px rgba(0, 0, 0, 0.2);
}
