.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

#begin-button {
  border-radius: 30px;
  padding: 10px;
  width: 120px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    background-color: black;
  }
}
